body {
    background-color: var(--color-bg);
}

/* Dark Mode */
[data-theme="dark"] {
    --color-bg: #484848;
    --color-btn: #015f04;
    --color-ctn: #998973;
}

[data-theme="light"] {
    --color-bg: antiquewhite;
    --color-btn: #004002;
    --color-ctn: #d7c8b3;
}

h1 {
    text-align: center;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-ctn);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    border: 1px solid #adadad;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff5e7;
}

#output {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: var(--color-ctn);
    cursor: none;
}

.button {
    background-color: var(--color-btn);
    /* Green */
    border-radius: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50px;
}

/* Dark Mode Button Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #552a63;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #5c92cb;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5c92cb;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}